body{
  overflow-x: hidden;
  background-color: black;
}
.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub{
  background-color: silver;
  width: 500px;
  border-radius: 10px;
}

.result{
  height: 150px;
  background-color:rgb(136, 207, 247) ;
}